@tailwind base;
@tailwind components;
@tailwind utilities;

.bouncy-arrow {
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 50%;
    font-size: 3.5em;
    animation: arrow-bounce 2s infinite;
    overflow: hidden;
    cursor: pointer
}